body{
    background-color: #f9eefc;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #f9eefc;
}
nav{
    background-color: #660066;
    padding-top:10px;
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    
    
    border-bottom: #2e002e;
    border-bottom-width: 5px;
    border-bottom-style: solid;
}
.nav-button{
    color: #660066;
    text-align: center;
    text-decoration: none;
    background-color: #f9eefc;
    border-radius: 10px;
    padding: 10px 20px;
    height: 100%;
    width: 33%;
    margin: 5%;
    text-align: center;
}

.section{ 
    margin: auto;
    padding-top: 50px;
    padding-botton: 20px;
    border-top: 5px;
    border-top-style: solid;
    border-top-color: #660066;
}
.section-title{
    color:#660066;
}
#intro-section{
    border-top: 0px;
}
#intro,
#programming-languages-section,
#software-section{
    background-color: #660066;
    border-radius: 10px;
    width: 60%;
    padding: 1%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5%;
    text-align: center;
}

#intro-photo{
    width: 40%;
    border-radius: 10px;
}
#skills-section{

}

#projects-section{

}

.project{
    background-color: #660066;
    border-radius: 10px;
    width: 80%;
    padding: 1%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

#right-align{
    margin-left: auto;
    margin-right: 1%;
}

#left-align{
    margin-left: 1%;
    margin-right: auto;
}
.project-name{
   
}
.project-image{
    width: 20%;
}
.project-text{
    width: 70%;
}
.project-description{

}
.project-skills{

}
.project-status{

}
